.orderpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ordertitle {
  margin-top: 20%;
  text-align: center;
}

.buttonprocess {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.processbtn {
  width: 40vw;
  height: 2rem;
  padding: 0 1em;
}
