@use "../../App.scss";

a,
a:visited {
  text-decoration: none;
  color: white;
}
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 1rem;
  top: 15px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: App.$colorSecondary;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 30px;
  width: 30px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: white;
  height: 50px;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/

/* General sidebar styles */
.bm-menu {
  background: App.$colorSecondary;
  position: fixed;
  top: 0;
}

/* Wrapper for item list */
.bm-item-list {
  color: white;
  padding-top: 6rem;
  width: 50vw;
  @media (max-width: 768px) {
    width: 100vw;
  }
}

/* Individual item */
.bm-item {
  display: inline-block;
  margin: 2.5rem;
}
