@use "../../App.scss";

.carPage {
  display: flex;
  flex-direction: column;
}

.carOverview,
.carInfoOverview {
  margin-top: 20%;
}

.rating {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.stars {
  display: inline-flex;
  justify-content: center;
  font-size: calc(App.$font-size *1.8);
}

.fa-star {
	color: gray;
	cursor: pointer;
	padding: 0.0625rem;
}

.fa-star.gold {
	color: App.$colorFourth;
}

.stars:hover .fa-star {
  color: rgb(219, 161, 15);
}

.stars .fa-star:hover ~ .fa-star {
  color: App.$colorFourth;;
}




@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .carOverview,
  .carInfoOverview {
    margin-top: 20%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .carOverview,
  .carInfoOverview {
    margin-top: 5%;
  }
}
