@use "../../App.scss";

.carInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.kilometers,
.lastRent,
.kmRemaining,
.goToMaintenance {
  border: App.$border;
  border-radius: App.$borderRadius;
  box-shadow: App.$boxShadow;
  text-align: center;
  font-size: App.$font-size;
  background-color: App.$colorSecondary;
  color: App.$colorThird;
  font-family: App.$font-family;
  margin-left: 10%;
  margin-right: 10%;
  padding: 0.8em;
}
