@use "../../App.scss";

.listingfilter {
  margin: 0 3%;
  margin-top: 10%;
  border-radius: App.$borderRadius;
}

.listingcar {
  padding: 0 0.5em;
}

.carsListTitle {
  text-align: center;
  font-size: App.$font-size-title;
  font-family: App.$font-family;
  color: App.$colorSecondary;
  margin: 2%;
  margin-top: 5%;
  text-decoration: underline double App.$colorFourth;
}
