@use "../../App.scss";

.DateTime {
  margin: auto;
  margin-top: 6vh;
  .listSilo,
  .ADDate {
    margin-left: 10vw;
    color: App.$colorSecondary;
    font-weight: 600;
    font-family: App.$font-family;
    margin-right: 10vw;
  }

  input {
    margin-right: 2rem;
    margin: auto;
    margin-bottom: 5vh;
    background-color: App.$colorSecondary;
    color: App.$colorThird;
    font-weight: 400;
    border-radius: App.$borderRadius;
  }
}

.CarType {
  color: App.$colorThird;
  border-radius: App.$borderRadius;
  box-shadow: App.$boxShadow;
  width: 60vw;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: row;
}
.submit {
  width: 30vw;
  margin: auto;
  margin-top: 10vw;
  display: flex;
  justify-content: space-around;
}
