@use "../../App.scss";

.sectorName {
  text-align: end;
  font-size: App.$font-size;
  font-family: App.$font-family;
  color: App.$colorFourth;
  margin: 2%;
}

.currentCars {
  font-size: App.$font-size-title;
  font-family: App.$font-family;
  color: App.$colorSecondary;
  text-align: center;
  margin: 5% 0;
  font-weight: 700;
  text-decoration: underline double App.$colorFourth;
}

.dashboardCarsBySilo {
  display: flex;
  flex-direction: column;
}

.avalaibleCars,
.outsideCars,
.toCheckCars,
.maintenance {
  border: App.$border;
  border-radius: App.$borderRadius;
  box-shadow: App.$boxShadow;
  text-align: center;
  font-size: calc(App.$font-size * 1.2);
  background-color: App.$colorSecondary;
  color: App.$colorThird;
  font-family: App.$font-family;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  height: 20vh;
}

.maintenance {
  margin-bottom: 2%;
}

.btndashboard {
  font-size: calc(App.$font-size * 1.2);
  margin-top: 20%;
  border: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation: landscape) {
  .dashboardCarsBySilo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .avalaibleCars,
  .outsideCars,
  .toCheckCars,
  .maintenance {
    height: 40vh;
    width: 48%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .dashboardCarsBySilo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .avalaibleCars,
  .outsideCars,
  .toCheckCars,
  .maintenance {
    height: 40vh;
    width: 48%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
  }
}
