@use "../../App.scss";

.futurCar2 {
  width: 70%;
  margin: auto;
  border-radius: App.$borderRadius;
  border: App.$border;
  box-shadow: App.$boxShadow;
}

.imgCar2Wrapper {
  display: flex;
  justify-content: center;
}

.h2ValidationMessage {
  font-family: App.$font-family;
  font-size: App.$font-size-title;
  margin-top: 5rem;
  margin-bottom: 3rem;
  text-align: center;
}

.ValidationMessage {
  font-family: App.$font-family;
  margin-top: 1em;
  margin-bottom: 8rem;
  text-align: center;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}
