@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700;900&display=swap");

$font-family: "Titillium Web", sans-serif; //regular 400 or semiBold 600 or bold 700 or black 900
$font-size: 1em;
$font-size-title: 2rem;
$colorBackGround: #dde1d8;
$colorSecondary: #273439;
$colorThird: #4eada0;
$colorFourth: #927b60;
$borderRadius: 0.5em;
$border: 1px #927b60 solid;
$boxShadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
  rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

:root {
  background-color: $colorBackGround;
  height: 100vh;
  font-family: $font-family;

  button {
    background-color: $colorSecondary;
    color: $colorThird;
    border-radius: $borderRadius;
    box-shadow: $boxShadow;
    text-align: center;
  }
}

//à mettre au début de votre SCSS:

//@use "../src/App.scss"

//ex: .className{
//   font-size: App.$font-size;
// }
