@use "../src/App.scss";

@media screen and (min-device-width: 320px) and (max-device-width: 900px) {
  .tunnel {
    display: block;
    margin: 1rem auto;
    height: 50%;
    width: 50%;
    border: App.$border;
    border-radius: App.$borderRadius;
  }

  .titleVT {
    text-decoration: underline double App.$colorFourth;
  }

  .style-formCT {
    gap: 0.5em;
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: App.$colorSecondary;
    font-size: App.$font-size;
  }

  .exportIcon {
    color: green;
    font-size: 3em;
  }

  .importIcon {
    color: red;
    font-size: 3em;
  }

  .iconTitle {
    display: flex;
    justify-content: center;
  }

  .title-cartransfertTitle {
    font-size: App.$font-size-title;
    color: App.$colorSecondary;
    text-align: center;
    align-self: center;
  }
  .title-cartransfert {
    font-size: App.$font-size-title;
    color: App.$colorSecondary;
    text-align: center;
    align-self: center;
    margin: 0.5em;
    margin-bottom: 1em;
  }

  .style-cartransfert {
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }
  .infos-to-sent {
    background-color: App.$colorSecondary;
    border: App.$border;
    border-radius: App.$borderRadius;
    box-shadow: App.$boxShadow;
    height: 5vh;
    font-family: App.$font-family;
    font-weight: bolder;
    width: 50vw;
    margin: auto;
    color: App.$colorFourth;
  }
  .infos-to-sent:focus {
    background-color: App.$colorSecondary;
    color: App.$colorThird;
    box-shadow: App.$boxShadow;
    border-radius: App.$borderRadius;
  }
  .transfert-btn {
    background-color: App.$colorSecondary;
    margin-bottom: 1rem;
    width: 15vw;
    margin: auto;
  }
}
