@use "../src/App.scss";

@media screen and (min-device-width: 320px) and (max-device-width: 900px) {
  .logo {
    display: block;
    margin: auto;
    height: 30vh;
    top: 0%;
    left: 20%;
  }
  .style-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: App.$colorSecondary;
    font-size: App.$font-size;
    margin: 0 1rem;
  }
  .form-profil {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-details {
    margin: 1rem;
    background-color: App.$colorSecondary;
    border: App.$border;
    border-radius: App.$borderRadius;
    box-shadow: App.$boxShadow;
    height: 5vh;
    font-family: App.$font-family;
    font-weight: bolder;
    width: 75vw;
  }
  .form-details:focus {
    background-color: App.$colorSecondary;
    color: App.$colorThird;
    box-shadow: 0 0 8px App.$colorSecondary, 0 0 35px App.$colorSecondary,
      0 0 60px App.$colorSecondary;
  }
  .form-btn {
    width: 75vw;
    height: 5vh;
    background-color: App.$colorSecondary;
    border: App.$border;
    border-radius: App.$borderRadius;
    box-shadow: App.$boxShadow;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
